/* Navbar component CSS (e.g., app-navbar.component.css or styles.css) */
.center-text {
  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    width: 100%;
    margin: 0%;
    background: #333;
    background-color:  #5b5beb;
    color: white;
    padding: 0px;
  }
  