.cam-comp {
  // Adjust based on the height of your navbar
 width: 97%;
 margin-left: 6%;
 margin-bottom: 10px;

 
}

.cam-grid {
 width: 100%;
 height: 200px;
 margin-top: 2px;
 border:2px solid black;
}

.cam-chart {
  display: flex;
  width: 100%;
  height: 100%; /* Match chart height */
  border: 1px solid black;
  margin-top: 1%;
}

.layer{
  background-color: rgb(182, 190, 188);
  width: 820px;
}

.charts {
  overflow-x: auto;
  overflow-y: hidden;
  background: white;
  border: 1px solid #a9a3a3;
 
}

.chart-toolbar {
  width: 50px; /* Fixed width for toolbar */
  height: 300px; /* Match chart height */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 5px;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
}

.layer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns text to the right */
  position: relative;
  left: 0; /* Adjust to align with Y-axis */
  top: 38px; /* Adjust according to chart position */
  transform: translateY(-50%);
}

.layer li {
  position: absolute;
  left: 10px;
  text-align: right;
  white-space: nowrap;
  font-size: 14px;
  color: black;
}

.layer li:nth-child(1) { top: 0px; } /* Adjust based on Y-axis scale */
.layer li:nth-child(2) { top: 30px; }
.layer li:nth-child(3) { top: 60px; }
.layer li:nth-child(4) { top: 90px; }
.layer li:nth-child(5) { top: 125px; }
.layer li:nth-child(6) { top: 155px; }



.chart-toolbar button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    height: auto;
  }
  
  .chart-wrapper {
    height: 300px;
  }
  
  .chart-toolbar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    border-left: none;
    border-top: 1px solid #ddd;
    padding: 5px 0;
    height: auto;
  }
  
  .chart-toolbar button {
    margin: 0 5px;
    padding: 5px 8px;
    width: auto;
  }
  
}
/* Change background color */
.k-button {
  background-color: #3b449a;
  color: white;
  margin: 10%;
  transform: rotate(90deg);
  
}

/* Hover state */
.k-button:hover {
  background-color: #e04b2b;
}

/* Focus state */
.k-button:focus {
  box-shadow: 0 0 0 3px rgba(255, 87, 51, 0.3);
}