<div class="cam-comp">
  <div class="cam-grid">
    <kendo-grid
      #grid
      class="foo"
      [data]="chargeData"
      [scrollable]="'virtual'"
      [rowHeight]="16"
      [height]="195"
      [resizable]="true"
      (cellClick)="cellClickHandler($event)"
      [rowSelected]="isRowSelected"
      [selectable]="{ mode: 'single' }"
    >
      <kendo-grid-column
        field="patternsequencegraphinfo.BeltIdentifier"
        title="Belt Identifier"
        [width]="150"
      ></kendo-grid-column>
      <kendo-grid-column
        field="identifier"
        title="Identifier"
        [width]="100"
      ></kendo-grid-column>

      <kendo-grid-column
        field="routeindex"
        title="Route Index"
        [width]="120"
      ></kendo-grid-column>

      <kendo-grid-column
        field="distancefromstart"
        title="Distance From Start"
        [width]="180"
      ></kendo-grid-column>
      <kendo-grid-column
        field="distancefromprevseqpoint"
        title="Distance From Prev Seq Point"
        [width]="220"
      ></kendo-grid-column>
      <kendo-grid-column
        field="distancetonextseqpoint"
        title="Distance To Next Seq Point"
        [width]="220"
      ></kendo-grid-column>
      <kendo-grid-column
        field="SequenceNumber"
        title="Sequence Number"
        [width]="150"
      ></kendo-grid-column>
      <kendo-grid-column
        field="patternsegmentindex"
        title="Pattern Segment Index"
        [width]="180"
      ></kendo-grid-column>
      <kendo-grid-column
        field="pointtype"
        title="Point Type"
        [width]="150"
      ></kendo-grid-column>
      <kendo-grid-column
        field="ibisplusactioninfo"
        title="Ibis Plus Action Info"
        [width]="180"
      ></kendo-grid-column>
      <kendo-grid-column
        field="gdmtableattrkeyvalues"
        title="Gdm Table Attr Key Values"
        [width]="220"
      ></kendo-grid-column>
      <kendo-grid-column
        field="patternindex"
        title="Pattern Index"
        [width]="120"
      ></kendo-grid-column>
      <kendo-grid-column
        field="PatternSequenceGraphInfo.BeltName"
        title="Belt Name"
        [width]="250"
      ></kendo-grid-column>
    </kendo-grid>
  </div>

  <div class="charts" id="chartContainer"  style="overflow-x: auto" >
    <kendo-chart
    style="height: 290px; "
   
      #chart
      [zoomable]="{ mousewheel: { lock: 'y',rate: zoomrate }, selection: { lock: 'y' }  }"
    
      [pannable]="{ lock: 'y' }"
      (seriesClick)="onSeriesClick($event)"
      (seriesHover)="onSeriesHover($event)"
      [categoryAxis]="categoryAxis"
      [valueAxis]="valueAxis"
      (render)="onRender($event)"
  
    >
      <kendo-chart-legend position="bottom"></kendo-chart-legend>

      <kendo-chart-series>
        <ng-container *ngFor="let dataGroup of transformedData let i = index">
          <kendo-chart-series-item
        
            [type]="
              dataGroup.current === 'AudioAnnouncement'
                ? 'scatter'
                : 'scatterLine' 
            "
            [data]="dataGroup.stats"
            [color]="getseriesColor(dataGroup.current)"
            [width]="getseriesWidth(dataGroup.current)"
            xField="time"
            yField="charge"
          >
            <!-- Tooltip Configuration -->
            <kendo-chart-series-item-tooltip format="{0}" [visible]="true">
              <ng-template let-point="point">
                <strong>Belt ID:</strong> {{ point.dataItem.beltId }} <br />
                <strong>Distance From Start:</strong> {{ point.dataItem.time }}
                <br />
                <strong>Charge:</strong> {{ point.dataItem.charge }} <br />
                <strong>Point Type:</strong> {{ point.dataItem.pointType }}
                <br />
                <strong>Trip Index:</strong> {{ point.dataItem.tripIndex }}
                <br />
                <strong>Route Index:</strong> {{ point.dataItem.routeIndex }}
                <br />
                <strong>Pattern Index:</strong>
                {{ point.dataItem.patternIndex }} <br />
                <strong>Distance From Prev:</strong>
                {{ point.dataItem.distanceFromPrev }} <br />
                <strong>Distance To Next:</strong>
                {{ point.dataItem.distanceToNext }} <br />
                <ng-container *ngIf="point.dataItem.beltId === 'AudioAnnouncement'">
                  <strong>Announcement Length:</strong> {{ point.dataItem.announcementLength }} <br />
                  <strong>Announcement Duration:</strong> {{ point.dataItem.announcementDuration }} <br />
                </ng-container>
              </ng-template>
            </kendo-chart-series-item-tooltip>

            <kendo-chart-series-item-markers
              *ngIf="dataGroup.current === 'AudioAnnouncement'"
              [size]="1"
              [visual]="markerVisual"
            >
            </kendo-chart-series-item-markers>
          </kendo-chart-series-item>
        </ng-container>
      </kendo-chart-series>
      <kendo-chart-x-axis>
        <kendo-chart-x-axis-item
          name="xAxis"
          type="numeric"
          [min]="-200"
          [max]="1000"
          
          [majorTicks]="majorTicks"
          [majorUnit]="50"
          [labels]="{  step: 1, format: '0' }"
          [color]="'black'"
          [crosshair]="{
            visible: true,
            tooltip: { visible: true, format: '{0}' },
           
          }"
         
        ></kendo-chart-x-axis-item>
      </kendo-chart-x-axis>
      <kendo-chart-y-axis>
        <kendo-chart-y-axis-item
          name="yAxis"
          type="numeric"
          [min]="0"
          [max]="140"
          [crosshair]="{
            visible: true,
            tooltip: { visible: true, format: '{0}' },
            color: '#d75463',
          }"
         
        
        >
          <kendo-chart-y-axis-item-labels
            [content]="labelTemplate"
            [position]="'start'"
            [color]="'black'"
          ></kendo-chart-y-axis-item-labels>
        </kendo-chart-y-axis-item>
      </kendo-chart-y-axis>



    </kendo-chart>

    <!-- Toolbar -->
    <div class="chart-toolbar">
      <button (click)="resetZoom()">Reset Zoom</button>
      <button >Button 1</button>
      <button >Button 2</button>
    </div>
    
    <kendo-contextmenu #gridmenu [items]="items">
      <ng-template kendoMenuItemTemplate let-item="item">
          {{ item.text }}
      </ng-template>
  </kendo-contextmenu>
  </div>
  
</div>
