<kendo-chart style="width: 1000px; height:500px" [title]="{ text: 'Charge current vs. charge time' }"
[zoomable]="{ mousewheel: { lock: 'y' }, selection: { lock: 'y' } }"
[pannable]="{ lock: 'y' }"

>
  <!-- Data Series -->
  <kendo-chart-series>
    <kendo-chart-series-item
      
      type="scatterLine"
      name="{{ chargeData[0].current }}C"
      [data]="chargeData[0].stats"
      xField="time"
      yField="charge"
      color="#3f0000"
      [width]="3">
    </kendo-chart-series-item>
   
    <kendo-chart-series-item
    #surface
      type="scatter"
      name="{{ chargeData[1].current }}C"
      [data]="chargeData[1].stats"
      
      xField="time"
      yField="charge"
      color="#399d60"
      
      >
    </kendo-chart-series-item>
    <kendo-chart-series-item
      
      type="scatterLine"
      name="{{ chargeData[2].current }}C"
      [data]="chargeData[2].stats"
      xField="time"
      yField="charge"
      color="#ff1234"
      [width]="7"
      [markers]="{ type: 'square', size: 10 }"
      >
      <kendo-chart-series-item
      
      type="scatterLine"
      name="{{ chargeData[3].current }}C"
      [data]="chargeData[3].stats"
      xField="time"
      yField="charge"
      color="#3f0000"
      [width]="7"
      [markers]="{ type: 'square', size: 10 }">
    </kendo-chart-series-item>
     >
    </kendo-chart-series-item>
  </kendo-chart-series>

  <!-- X-Axis -->
  <kendo-chart-x-axis>
    <kendo-chart-x-axis-item [title]="{ text: 'Time (minutes)' }" [max]="100">
    </kendo-chart-x-axis-item>
  </kendo-chart-x-axis>

  <!-- Y-Axis with String Labels -->
  <kendo-chart-y-axis>
    <kendo-chart-y-axis-item
      [title]="{ text: 'Layers' }"
      [labels]="{ content: labelTemplate }"
      [max]="100">
    </kendo-chart-y-axis-item>
  </kendo-chart-y-axis>

  <!-- Tooltip -->
  <kendo-chart-tooltip [padding]="10"  format=" getLabel({1}) at {0} minutes"></kendo-chart-tooltip>
</kendo-chart>

