#agglomerations {
    position: relative;
    width: 900px;
    height: 100px;
    margin-top: 40px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    overflow-x: scroll;
  }


.charts{
  margin-top: 60px;
}